<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        version="1.0.0.0" id="WhiteboardCapture">

  <author href="http://www.brighthouse.com" rim:copyright="Copyright 2013 Bright House Networks">Team Bright House</author>

  <name>Whiteboard Capture</name> 

  <description>
    Some description here
  </description>

  <icon src="resources/icons/app-icon.png"/>
  <rim:splash src="resources/images/splash-screen.png" />
  
  <access uri="*" subdomains="true" />
  <access url="https://whiteboard-latchd.rhcloud.com" subdomains="true"/>

  <feature id="blackberry.app" required="true" version="1.0.0.0">
        <param name="websecurity" value="disable" />
  </feature>

  <content src="app.html" rim:allowInvokeParams="true"/>

</widget>